<!DOCTYPE html>
<html>
    <head>
        <title>School News</title> 
            <style>
        body{
            background-color:yellow;}

            #header{
                text-align :center;
            }
            #auth{
                font-style:italic;
            }
            </style>
    </head>
    <body>

    </body>
        <h1 id= "header"> School News</h1>
    <div>
        <ul>
            {% for column in news %}
                <h1>{{column.title}}</h1>
                <p id="auth">by {{column.author}}. {{column.date|date:"d/m/Y" }}</p>
                <p>{{column.description}}
                </p>
            {% endfor %}
            </ul>

    </div>
    </body>
</html>